.Footer-Main{
    background-color: white;
    color: black;
    padding: 1.5%;
}

.Footer-Main-Wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Footer-Socials img{
    height: 30px;
    margin-inline: 10px;
}

.Footer-Brand span{
    color: orange;
}